<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Scripts</title>

</head>
<body>

<th:block th:fragment="scripts">

    <!--java script-->
    <!--<script th:src="@{/css/js/jquery-2.1.1.min.js}" type="application/javascript"></script>-->
    <script th:src="@{/css/js/jquery.min.js}" type="application/javascript"></script>
    <script th:src="@{/jquery-ui/jquery-ui.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/wickedpicker.js}" type="application/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/tether.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/angular.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootbox.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/d3.v4.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/sweetalert2.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap4-select/bootstrap-select.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/highcharts/highcharts.js}" type="application/javascript"></script>
    <script th:src="@{/js/highcharts/series-label.js}" type="application/javascript"></script>
    <script th:src="@{/js/highcharts/exporting.js}" type="application/javascript"></script>
    <script th:src="@{/js/highcharts/export-data.js}" type="application/javascript"></script>
    <script th:src="@{/js/highcharts/variable-pie.js}" type="application/javascript"></script>
    <script th:src="@{/js/jquery.datetimepicker.min.js}" type="application/javascript"></script>
    <script th:src="@{/css/highcharts/highslide-full.min.js}" type="application/javascript"></script>
    <script th:src="@{/css/highcharts/highslide.config.js}" type="application/javascript"></script>
    <script th:src="@{/js/timedropper.js}" type="application/javascript"></script>
    <!--<script th:src="@{/js/mobile-view-custom.js}" type="application/javascript"></script>-->

    <!--Cascading Style Sheet-->

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--<link rel="stylesheet" th:href="@{/css/stylecustom.css}">-->
    <link rel="stylesheet" th:href="@{/jquery-ui/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-tagsinput.css}">
    <link rel="stylesheet" th:href="@{/css/iziToast.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/css/wickedpicker.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap4-select/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{/css/timedropper.css}">

</th:block>
</body>

</html>