<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <th:block th:replace="fragments/scripts::scripts">scripts</th:block>
</head>
<body class="bg-light">
<!--<div class="container">-->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <img style="width: 5%;" th:src="@{/images/logo1.jpg}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Services
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Booking</a>
                    <a class="dropdown-item" href="/book/findService">Find Service</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
            </li>
        </ul>
    </div>
</nav>
<div id="carouselExampleIndicators" class="carousel slide pt-xl-5" data-ride="carousel">

    <div id="content" style="width: 100%" ng-app="findServiceApp" ng-controller="findServiceController">

        <form class="form-horizontal hidden-print" th:method="post" role="form"
              th:action="@{/reports/customer_account_list}">
            <input type="hidden" value="" ng-value="customer_data_json">
            <div class="panel panel-body ">

                <div class="form-group">
                    <label class="col-lg-1 col-md-1 col-sm-6 col-xs-12">CUSTOMER</label>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-show="customer == null">
                        <input id="customer" class="form-control"
                               ng-model="customer_"
                               ng-keyup="searchCustomer($event,customer_, $index)"
                               autocomplete="off" required/>

                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-show="customer != null">
                        <input class="form-control" type="text" value="{{customer.name}} {{customer.nic}}"
                               ng-click="customer = null">
                        <input type="hidden" th:name="customer" ng-value="customer.id">
                        <input type="hidden">
                    </div>


                    <label class="col-lg-1 col-md-1 col-sm-6 col-xs-12">FROM</label>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <input type="text" class="form-control datepicker"
                               id="dateFromInput"
                               placeholder="Sales From" name="dateFrom" style="width: 100%; height: 32px;">
                    </div>
                    <label class="col-lg-1 col-md-1 col-sm-6 col-xs-12">TO</label>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                        <input type="text" class="form-control datepicker"
                               id="dateToInput"
                               placeholder="Sales To" name="dateTo" style="width: 100%; height: 32px;">
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
                        <a href="#">
                            <button type="submit" class="btn btn-success ">
                                Run Report <i
                                    class="fa fa-search"></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="col-md-12 panel">
            <div align="right" class="col-md-12">
                <i class="fa fa-envelope-o"
                   style="font-size:18px;margin-top:10px;text-align: right;cursor: pointer;"></i>&nbsp;
                <i class="fa fa-print"
                   style="font-size:18px;margin-top:10px;text-align: right;cursor: pointer;"></i>&nbsp;
                <i class="fa fa-file-pdf-o"
                   style="font-size:18px;margin-top:10px;text-align: right;cursor: pointer;"></i>&nbsp;
            </div>
            <p style="font-size:26px;color:#0f0f0f;margin: 0px;line-height:25px;padding-top:55px;"
               class="text-center">Water ERP</p>
            <p style="font-size:18px;color:#0f0f0f;margin: 0px;line-height:25px;" class="text-center"><b>Customer
                Account List</b></p>
            <div style="width: 100%; padding-left: 2%; padding-right: 2%; padding-top: 2%">
                <table class="table" id="report">
                    <tr>
                        <th>#</th>
                        <th>DATE</th>
                        <th>NAME</th>
                        <th>NIC</th>
                        <th>ACCOUNT</th>
                        <th>BALANCE</th>
                        <th>MOBILE NO</th>
                        <th>LOCATION</th>
                    </tr>
                    <!--<tr th:each="detail:${customerAccount}">-->
                    <!--<td th:text="${detail.id}"></td>-->
                    <!--<td th:text="${detail.timestampCreated}"></td>-->
                    <!--<td th:text="${detail.name}"></td>-->
                    <!--<td th:text="${detail.nic}"></td>-->
                    <!--<td th:text="${detail.ledgerAccount.accountName}"></td>-->
                    <!--<td th:text="${detail.ledgerAccount.balance}"></td>-->
                    <!--<td th:text="${detail.mobile}"></td>-->
                    <!--<td th:text="${detail.location.locationName}"></td>-->
                    <!--</tr>-->
                </table>
            </div>
        </div>
    </div>

</div>

<footer class="bg-light text-center text-lg-start">

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer>

</div>
<!--</div>-->
<script>
    $('#carouselExampleIndicators').carousel({
        interval: 3000,
        cycle: true
    });
</script>


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online AutoMobile Service | Booking | Find Location</title>

    <div th:replace="fragments/scripts::scripts">scripts</div>
    <div th:replace="fragments/header::header"></div>
</head>
<body>
<div id="navbar"><span>Red Stapler - Geolocation API</span></div>
<div id="wrapper">
    <button id="location-button">Get User Location</button>
    <div id="output"></div>
</div>

<script>

    $('#location-button').click(function(){

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position){
                console.log(position);
                $.get( "http://maps.googleapis.com/maps/api/geocode/json?latlng="+ position.coords.latitude + "," + position.coords.longitude +"&sensor=false", function(data) {
                    console.log(data);
                })
                // var img = new Image();
                // img.src = "https://maps.googleapis.com/maps/api/staticmap?center=" + position.coords.latitude + "," + position.coords.longitude + "&zoom=13&size=800x400&sensor=false";
                // $('#output').html(img);
            });

        }
    });
</script>
</body>
</html>

<!--<script async-->
<!--src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=localContext&v=beta&callback=initMap">-->
<!--</script>-->
</body>
</html>