<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Macro Finance | Customer | New Customer</title>

    <div th:replace="fragments/scripts::scripts">scripts</div>
    <div th:replace="fragments/header::header"></div>
</head>

<body>
<div th:replace="fragments/header::header">header</div>
<div class="wrapper">
    <div th:replace="fragments/navbars::sidebar">header</div>
    <div id="content" style="width: 100%" ng-app="chartloadApp" ng-controller="chartloadController">
        <div th:replace="fragments/navbars::navbar">header</div>

    </div>
</div>
</body>
</html>